@import url('./colors.css');

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --light-color: #eeeeee;
    --light2-color: #dddddd;
    --dark-color: #222222;
    --dark2-color: #444444;
    --primary-color: #ffffff;
    --success-color: #3ECF98; 
    --error-color: #EF6969;
    --warning-color: #ffd650;
}

.dark-theme {
    --white-color: #222222; /* Original: #ffffff */
    --black-color: #ffffff; /* Original: #000000 */
    --light-color: #333333; /* Original: #eeeeee */
    --light2-color: #444444; /* Original: #dddddd */
    --dark-color: #eeeeee; /* Original: #222222 */
    --dark2-color: #dddddd; /* Original: #444444 */
    --primary-color: #000000; /* Original: #ffffff */
    --success-color: #3ECF98; /* Complementary of #3ECF98 */
    --error-color: #EF6969;  /* Complementary of #EF6969 */

    color: white;
}

.dark-theme img {
    filter: invert();
}

.dark-theme * {
    box-shadow: none;
}