@import url('./colors.css');

:root {
    --selected-color: #bfd8e2;
    --correct-color: #77cdad;
    --incorrect-color: #d97676;
    --easy-color: #b7e4d3;
    --medium-color: #f5f4a7;
    --hard-color: #f19e9e;
}

.sudoku-windows {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 330px;
    min-height: 350px;
    height: 100%;
}

.sudoku-options {
    position: absolute; 
    top: 0; 
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 33px; 
    border-radius: 8px;
    background-color: var(--white-color);
    overflow: hidden;
}

.sudoku-options .option {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
    padding: 0px 10px 0px 10px;  
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--white-color);

    transition: background-color 0.3s ease;
}

.sudoku-options .option:hover {
    background-color: var(--light2-color);
}

.sudoku-timer {
    position: absolute;
    font-weight: 500;
    right: 10px;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    margin-top: 43px;
    border-radius: 12px;
    border: 4px solid var(--black-color);
}

.sudoku-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid black;
    border-width: 1px 1px 0px 0px;
    height: 50px;
}

.sudoku-cell:empty:hover {
    cursor: pointer;
    background-color: var(--light2-color) !important;
}

.sudoku-cell[data-row="0"] {
    border-top: none;
}

.sudoku-cell[data-col="8"] {
    border-right: none;
}

.sudoku-cell[data-col="2"], .sudoku-cell[data-col="5"] {
    border-right: 3px solid black;
}

.sudoku-cell[data-row="2"], .sudoku-cell[data-row="5"] {
    border-bottom: 3px solid black;
}

.sudoku-cell[data-col="0"][data-row="0"] {
    border-radius: 8px 0px 0px 0px;
}
.sudoku-cell[data-col="0"][data-row="8"] {
    border-radius: 0px 0px 0px 8px;
}
.sudoku-cell[data-col="8"][data-row="0"] {
    border-radius: 0px 8px 0px 0px;
}
.sudoku-cell[data-col="8"][data-row="8"] {
    border-radius: 0px 0px 8px 0px;
}

.sudoku-cell.selected {
    background-color: var(--selected-color);
}

.sudoku-cell.correct {
    background-color: var(--correct-color);
}

.sudoku-cell.incorrect {
    background-color: var(--incorrect-color);
}